In [1]:
import pandas as pd
data = pd.read_csv('Swarm_Behaviour.csv')

In [2]:
data.head()

,x1,y1,xVel1,yVel1,xA1,yA1,xS1,yS1,xC1,yC1,...,yVel200,xA200,yA200,xS200,yS200,xC200,yC200,nAC200,nS200,Swarm_Behaviour
0,562.05,-0.62,-10.70,-4.33,0.00,0.00,0.0,0.0,0.00,0.00,...,-15.15,0.00,0.00,0.00,0.00,0.00,0.0,28,0,0.0
1,175.66,-57.09,2.31,-2.67,0.00,0.00,0.0,0.0,0.00,0.00,...,-3.48,0.00,0.00,0.00,0.00,0.00,0.0,4,0,0.0
2,200.16,-320.07,4.01,-6.37,0.00,0.00,0.0,0.0,0.18,-0.26,...,-9.38,0.00,0.00,0.00,0.00,-0.11,-0.3,15,1,0.0
3,316.99,-906.84,0.85,9.17,-0.17,1.03,0.0,0.0,0.00,0.00,...,10.39,-0.26,1.01,0.00,0.00,0.00,0.0,16,0,0.0
4,1277.68,908.54,-2.02,8.23,-1.00,1.00,0.0,0.0,0.00,0.00,...,13.91,-1.00,0.00,3.21,15.67,0.00,0.0,12,0,0.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23309 entries, 0 to 23308
Columns: 2401 entries, x1 to Swarm_Behaviour
dtypes: float64(2001), int64(400)
memory usage: 427.0 MB

In [4]:
data.describe()

,x1,y1,xVel1,yVel1,xA1,yA1,xS1,yS1,xC1,yC1,...,yVel200,xA200,yA200,xS200,yS200,xC200,yC200,nAC200,nS200,Swarm_Behaviour
count,23309.000000,23309.000000,23309.000000,23309.000000,23309.000000,23309.000000,23309.000000,23309.000000,23309.000000,23309.000000,...,23309.000000,23309.000000,23309.000000,23309.000000,23309.000000,23309.000000,23309.000000,23309.000000,23309.000000,23309.000000
mean,104.413631,-73.481853,-0.697607,0.061480,-0.147964,0.152034,-1.055732,-0.731546,-0.034915,0.077123,...,0.086824,-0.126276,0.127497,-1.526260,-0.118891,-0.012388,0.085076,26.433995,2.130679,0.341242
std,843.200079,573.329374,6.427840,7.366739,0.376078,0.588582,26.388570,20.684183,0.559690,0.628478,...,7.683539,0.378830,0.570589,73.903764,7.002853,0.555143,0.614603,34.136098,7.431911,0.474136
min,-1414.140000,-1012.180000,-18.590000,-18.410000,-1.000000,-1.000000,-944.070000,-847.910000,-2.680000,-2.680000,...,-18.440000,-1.040000,-1.000000,-4079.230000,-370.240000,-2.680000,-2.680000,0.000000,0.000000,0.000000
25%,-542.020000,-611.220000,-5.360000,-5.680000,-0.230000,-0.010000,0.000000,0.000000,-0.040000,-0.020000,...,-5.600000,-0.190000,0.000000,0.000000,0.000000,-0.070000,0.000000,2.000000,0.000000,0.000000
50%,145.300000,-157.350000,-0.450000,-1.540000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-0.780000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,12.000000,0.000000,0.000000
75%,896.200000,425.700000,3.940000,7.260000,0.000000,0.940000,0.000000,0.000000,0.000000,0.020000,...,7.480000,0.000000,0.540000,0.000000,0.000000,0.000000,0.030000,35.000000,1.000000,1.000000
max,1406.080000,1015.800000,18.470000,18.570000,1.000000,1.040000,68.560000,234.740000,2.680000,2.680000,...,18.490000,1.000000,1.040000,255.990000,57.840000,2.680000,2.680000,142.000000,64.000000,1.000000

In [5]:
data.isnull().sum().any

<bound method NDFrame._add_numeric_operations.<locals>.any of x1                 0
y1                 0
xVel1              0
yVel1              0
xA1                0
                  ..
xC200              0
yC200              0
nAC200             0
nS200              0
Swarm_Behaviour    0
Length: 2401, dtype: int64>

In [9]:
data.columns

Index(['x1', 'y1', 'xVel1', 'yVel1', 'xA1', 'yA1', 'xS1', 'yS1', 'xC1', 'yC1',
       ...
       'yVel200', 'xA200', 'yA200', 'xS200', 'yS200', 'xC200', 'yC200',
       'nAC200', 'nS200', 'Swarm_Behaviour'],
      dtype='object', length=2401)

In [10]:
x = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,
                                                random_state=0)

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

#### Logistic Regression

In [13]:
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()

log_reg.fit(x_train,y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [14]:
y_pred = log_reg.predict(x_test)

In [15]:
from sklearn.metrics import confusion_matrix, accuracy_score
confusion_matrix(y_test,y_pred)

array([[3496,  348],
       [ 368, 1616]], dtype=int64)

In [16]:
accuracy_score(y_test,y_pred)

0.8771448181194235

In [17]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         0.0       0.90      0.91      0.91      3844
         1.0       0.82      0.81      0.82      1984

    accuracy                           0.88      5828
   macro avg       0.86      0.86      0.86      5828
weighted avg       0.88      0.88      0.88      5828

#### Naive Bayes

In [18]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()

In [19]:
classifier.fit(x_train,y_train)
y_pred = classifier.predict(x_test)

In [20]:
classifier.predict_log_proba(x_test)

array([[-1463.06543307,     0.        ],
       [  -84.9584348 ,     0.        ],
       [ -769.32495263,     0.        ],
       ...,
       [ -932.23446749,     0.        ],
       [ -210.69040922,     0.        ],
       [ -433.96020952,     0.        ]])

In [21]:
from sklearn.metrics import accuracy_score, confusion_matrix

print(confusion_matrix(y_test,y_pred))
print('accuracy:',accuracy_score(y_test,y_pred))

[[ 826 3018]
 [  61 1923]]
accuracy: 0.47168840082361013

#### KNN

In [22]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()

In [23]:
knn.fit(x_train, y_train)
knn_pred = knn.predict(x_test)

In [24]:
print(classification_report(y_test, knn_pred))

              precision    recall  f1-score   support

         0.0       0.91      0.92      0.91      3844
         1.0       0.84      0.82      0.83      1984

    accuracy                           0.89      5828
   macro avg       0.88      0.87      0.87      5828
weighted avg       0.89      0.89      0.89      5828

#### Decision Tree

In [25]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()

In [26]:
dt.fit(x_train, y_train)
dt_pred = dt.predict(x_test)

In [27]:
print(classification_report(y_test, dt_pred))

              precision    recall  f1-score   support

         0.0       0.89      0.92      0.90      3844
         1.0       0.83      0.78      0.80      1984

    accuracy                           0.87      5828
   macro avg       0.86      0.85      0.85      5828
weighted avg       0.87      0.87      0.87      5828

#### Decision Tree - Entropy

In [28]:
dt2 = DecisionTreeClassifier(criterion='entropy')

In [29]:
dt2.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy')

In [30]:
y_pred = dt2.predict(x_test)

In [31]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         0.0       0.89      0.91      0.90      3844
         1.0       0.82      0.78      0.80      1984

    accuracy                           0.87      5828
   macro avg       0.85      0.85      0.85      5828
weighted avg       0.87      0.87      0.87      5828

#### Accuracies:
##### Logistic Regression = 87.71
##### Naive Bayes = 47.16
##### KNN = 89
##### Decision Tree = 87